{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "globals": {
    "Promise": true
  },
  "overrides": [
    {
      "files": ["*_tests.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
